.App {
  text-align: left;
}

.App-header {
  padding: 30px;
  padding-inline: calc(10vw);
  background-color: whitesmoke;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-size: calc(10px + 2vmin);
  color: black
}

.HAlign{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.VAlign{
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-items: center;
  margin: 10px;
}

.content{
  border-radius: 10px;
  max-width: 75vw;
  /* box-shadow: gray 0px 0px 10px; */
  padding-inline: 10px;
}

.avatar{
  margin-right: 10px;
  width: 50px;
  height:50px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px;
}

.username{
  font-weight: 250;
}

.date{
  font-weight: 200;
  font-size: small;
}

.postBody{
  padding: 5px;
  padding-inline: 15px;
  white-space:pre-wrap;
  /* border-radius: 10px;
  box-shadow: gray 0px 0px 10px; */
}

.postImage{
  margin-top: 10px;
  max-width: calc(80vw - 10vw);
  border-radius: 2px;
}
